:root{
    --color1: #238733;
    --color2: #87CBF5;
    --color3: #439BEF;
    --color4: #0062C3;
    --color5: #013068; 
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a,a:hover{
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
.totop{
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    border: 2px solid var(--color3);
    color: var(--color3);
    border-radius: 50%;
    display: grid;
    place-items: center;
    text-decoration: none;
    z-index: 9999;
}
/*  Start Header  */
header{
    height: 100vh;
    background: rgba(0,0,0,0.8);
    position: relative;
}
header::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url(../images/bgs/bg1.jpg);
    background-size: cover;
}
.sticky-nav{  
    height: 80px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    transition: all 0.5s;
}
.sticky-nav.colored{
    background: rgba(0,0,0,0.8);
}
.logo{
    padding: 6px 20px;
    border: 2px solid var(--color3);
    color: var(--color3);
    border-radius: 10px;
    text-align: center;
    font-size: 1.3rem;
}

.menu-toggler{
    width: 40px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    z-index: 999;
}
.menu-toggler,.opened{
    transition: all 0.4s;
}
.menu-toggler div{
    height: 2px;
    background: var(--color3);
}
.menu-toggler.opened div:nth-child(1){
    transform: rotate(46deg) translate(11px, 8px);
}
.menu-toggler.opened div:nth-child(2){
    transform:translateX(30px);
    opacity: 0;
}
.menu-toggler.opened div:nth-child(3){
    transform: rotate(135deg) translate(-10px, 10px);
}

.main-menu{
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    border:2px solid var(--color2);
    border-radius: 10px;
    list-style: none;
    padding: 20px;
    display: none;
    z-index: 999;
    background: rgba(0,0,0,0.98);
    text-align: center;
}
.main-menu li{
    display: inline-block;
    margin: 10px;
}
.main-menu li a{
    padding: 6px 15px;
    text-decoration: none;
    color: var(--color2);
    letter-spacing: 3px;
}
@media(max-width:767px){
    .main-menu li{display: block;}
    .main-menu{top:80px;width: 80%;text-align: center;}
}
.intro-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: #d1d1d1;
}
.intro-text h1{
    margin-bottom: 15px;
}
.intro-img{
    width: 200px;
    height: 100%;
    margin: 25px auto;
    padding: 10px;
    border-radius: 50%;
    border: 2px solid var(--color3);
}
.intro-img img{
    width: 100%;
    border-radius: 50%;
}
/*--- General in sections ---*/
section{
    height: 100vh;
    padding-top: 100px;
}